@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color:#fff;
    scroll-behavior: smooth;
}
body{
    background-color: #28282b;
    /* height: 250vh; */
}
header{
    position: fixed;
    /* background-color: rgba(255, 255, 255, 0.485); */
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    z-index: 1000;
}

/*
============================
    Scroll Bar Style
============================
*/
::-webkit-scrollbar{
    width: 0.625rem;
}

::-webkit-scrollbar-track{
    background: #3a3a3d;
}

::-webkit-scrollbar-thumb{
    background-color: #28282b;
}



/*=================================================
NAVIGATION BAR
=================================================*/
a{
    text-decoration: none;
}

.logo{
    border-width: 2px;
    border-style: solid;
    width: 100px;
    height: 40px;

    display: grid;
    place-items: center;
    transition: .5s ease-in-out;
}
.logo:hover{
    border: none;
    background-color: #fff;
}
.logo a{
    font-weight: 900;
    font-style: italic;
    font-size: 1.2rem;
    transition: .5s ease-in-out;
    padding: 6px;
}
.logo:hover a{
    color:#28282b;
    /* text-transform: uppercase; */
}
nav ul{
    display: flex;
    gap: 50px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;     
}
nav ul li a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;

    background-color: #fff   ;
    position: absolute;
    top: 50%;
    left: -8.5%;

    transition: width 300ms ease-in-out;
}
nav ul li a:hover::after { 
    width: 115%; 
    }

.hamburger{
    display: none;
    cursor: pointer;
}
.hamburger span{
    width: 30px;
    height: 3.5px;
    display: block;
    margin: 5px auto;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*=================================================
Hero Section
=================================================*/
.body-wrapper{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
.hero{
    height: 100vh;
    position: relative;
    overflow: hidden;
    scroll-snap-align: start;
    
}
.cover img{
    position: absolute;
    object-fit: cover;
    right: 0;
    height: 100%;
    z-index: -1;

}
.content{
    position: absolute;
    left: 10%;
    top: 50%;
    /* transform: translateX(50%); */
    transform: translatey(-50%);
}

.hero .content h2{
    font-size: 2.5rem;
    text-transform: uppercase;
    transition: .5s ease-in-out;
}
.content h1{
    font-size: 6.5rem;
    font-weight: 300;
    text-transform: uppercase;
    /* letter-spacing: 5px; */
    transition: .5s ease-in-out;
}
.content p{
    font-size: 1.5rem;
    font-weight: 500;
    word-break: break-word;
    transition: .5s ease-in-out;    
}
.content button{
    position: relative;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    width: 150px;
    height: 50px;
    background: none;
    transition: .5s ease-in-out;

    display: flex;
    padding-left: 15px;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}
.content button img{
    position: absolute;
    right: 20%;
    max-width: 20px;
    width: 100%;
    transition: .3s ease-in-out;
    filter: invert(100%);
    
}
.content button:hover .arrow-img{
    transform: translateX(3px);
    filter: invert(40%);

}

.social-icons{
    width: 100%;
    position: absolute;
    bottom: 10%;
    left: 10%;
    filter: invert(100%);
}
.social-icons img{
    max-width: 60px;
    width: 100%;
    margin:  0 20px 0 20px;
    padding: 13px;

    /* border-width: 2px;
    border-style: solid; */
    border: 2px solid;
    border-color: #000000;
    transition: .5s ease-in-out;
    cursor: pointer;

}
.social-icons img:hover{
    background-color: white;
    border: none;
    filter: invert(100%);
    /* padding: 15px; */
}

/*=================================================
About Me Section
=================================================*/

.about-me-section{
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;

    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}

.pfp{
    width: 100%;
    height: 70%;
    display: grid;
    place-items: center;
}
.pfp img{
    max-width: 500px;
    width: 100%;
}

.about-content{
    width: 100%;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.about-story{
    word-break: break-word;
    padding-right: 25%;
    line-height: 30px;
}
.about-story p{

}
.techstack{
    height: 300px;
}
.title{
    display: flex;
}
.title h1{
    text-transform: uppercase;
    font-style: italic;
}
.des{
    height: 35px;
    width: 10px;
    background-color: #fff;
    margin-right: 10px;
}







/*=================================================
Project Section
=================================================*/


.project-section{
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
   
}
.contact-section{
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
   
}
.section-tag{
    position: absolute;
    margin-top: 4%;
    top: 50px;
    left: -50px;
    background-color: #fff;
    height: 50px;
    width: 150px;

    display: flex;
    justify-content: center;
    align-items: center;    

    transform: rotate(-90deg);
}
.section-tag h1{
    color: #28282b;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 900;   
    
}


footer{
    width: 100%;
    height: 20vh;
    background-color: #fff;
}




/*=================================================
Responsiveness
=================================================*/

@media (max-width: 1024px){
    header{
        padding: 20px;
        height: 20vh;
    }
    nav{
        display: none;
    }
    .content{
        transform: translateY(10px);
        transform: translateX(-10px);
    }
    .hamburger{
        display: block;
        
    }
    .cover img{
        right: -45%;
    }

}
 @media (max-width:900px){ 
    header{
        height: 11vh;
        padding: 10px 25px;
    }
    .section-tag{
        top: 120px;
        transform: rotate(-90deg);
    }
    .about-me-section{
        height: auto;
        flex-direction: column;
        justify-content: space-around;
        padding: 100px 0 20px 0;
        
    }
    .pfp{
        padding: 30px 0 30px 0;
    }
    .pfp img{
        width: 50%;
    }
    .about-story{
        padding: 0px;
        line-height: normal;
    }
    .techstack{
        height: auto;
    }
    .about-content{
        padding: 30px;
        gap: 30px;
    }
}   
@media (max-width: 450px){
    header{
        height: 11vh;
        padding: 10px 25px;
    }
    .cover img{
        right: -90%;
    }
    .content{
        transform: translateY(10px);
        transform: translateX(-10px);
    }
    .hero .content h2{
        font-size: 1.5rem;
    }
    .content h1{
        font-size: 3.5rem;
    }
    .content p{
        font-size: 1rem;
    }
    .social-icons img{
        max-width: 50px;
        padding: 10px;
        margin: 0 10px;
        transform: translateX(-20px);
    }
}
